body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bool-lightgrey);
}
/* body settings */

header {
    background-color: var(--bool-white);
    padding-bottom: 0.5rem; 
}

img {
    margin: 1rem;
}

h1 {
    margin-left: 5rem;
    margin-top: -4.3rem;
    font-style: initial;
}
/* header */

:root {
    --bool-white: #ffffff;
    --bool-lightgrey: #f6f8f9;
    --bool-blue1: #47adf1;
    --bool-blue2: #45abe9;
    --bool-purple: #9c72e4;
    --bool-green1: #64c0a8;
    --bool-green2: #b0c926;
    --bool-orange: #f29e33;
    --bool-pink: #d863a0;
    
}
/* colores */

main {
    background-color: var(--bool-white);
    height: 3.19rem;
    margin-top: 5rem;
    margin-left: 20%;
    margin-right: 20%;
}

input{
    border-radius: 0.2rem; 
}

.task {
    background-color: var(--bool-blue1);
    border-radius: 0.2rem; 
    margin-left: 3rem; 
}

#header {
    padding-top: 1rem;
    border-radius: 0.2rem; 
}

#main {
    background-color: var(--bool-white);
    padding-top: 0.8rem; 
    margin-top: 1rem;
    margin-bottom: 0.8;
}
/* main and header main */

#main>div{
    padding-left: 2rem;
    padding-top: 1rem;
}
h3 {
    padding-left: 2rem;
    padding-top:  0.8rem;
    margin-bottom: -0.8rem;
}
span{
    margin-left: 0.5rem;
    padding: 0.3rem;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    color: var(--bool-white);
}

.highlights1{
    background-color: var(--bool-blue2);
}
.highlights2{
    background-color: var(--bool-blue2);
}
.highlights3{
    background-color: var(--bool-purple);
}
.highlights4{
    background-color: var(--bool-green1);
}
.highlights5{
    background-color: var(--bool-orange);
}
.highlights6{
    background-color: var(--bool-pink);
}
.highlights7{
    background-color: var(--bool-green2);
}
.highlights8{
    background-color: var(--bool-blue2);
}
/* caracters inside the main */